<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dragon Slayer</title>
    <link rel="stylesheet" href="style.css">
    <script src="https://unpkg.com/vue"></script>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap" rel="stylesheet">
    <link rel="icon" href="https://img.icons8.com/ios-filled/50/000000/dragon.png">
</head>
<body>
    <div id="app">
        <div class="panel scores">
            <div class="knight">
                <img src="characters/knight.gif" alt="kinght gif">
                <h1>Knight</h1>
                <div class="life-bar">
                    <div class="life"
                         :class="{danger: knightLife < 20}"
                         :style="{width: knightLife + '%'}"></div>
                </div>
                <p>{{ knightLife }}%</p>
            </div>

            <div class="dragon">
                <img src="characters/dragon.gif" alt="dragon gif">
                <h1>Dragon</h1>
                <div class="life-bar">
                    <div class="life"
                         :class="{danger: dragonLife < 20}"
                         :style="{width: dragonLife + '%'}"></div>
                </div>
                <p>{{ dragonLife }}%</p>
            </div>
            
        </div>
        <div v-if="hasResult" class="panel result"> 
            <div v-if="dragonLife == 0" class="win"> Congratulations! You beat the dragon!</div>
            <div v-if="knightLife == 0" class="lose"> Sorry! You lost your head!</div>
        </div>
        <div class="panel buttons">
            <template v-if="running">
                <button class="btn attack"
                        @click="attack(false)">Attack</button>
                <button class="btn special-attack"
                        @click="attack(true)">Special Attack</button>
                <button class="btn heal"
                        @click="healAndHurt">Heal</button>
                <button class="btn give-up"
                        @click="running = false">Give Up</button>
            </template>
            <button v-else class="btn new-game"
                    @click="startGame">New Game</button>
        </div>

        <div v-if="logs.length" class="panel logs">
            <ul>
                <li v-for="log in logs" 
                    :class="log.cls"
                    class="log">{{ log.text }}</li>
            </ul>
        </div>
    </div>
    <script src="app.js"></script>
</body>
</html>